<mat-tab-group animationDuration="180ms" preserveContent>
  <mat-tab [label]="'details.tabs.extra' | t">
      <div class="details-section">
        <div class="details-section__title">{{ 'details.task.sectionBanks' | t }}</div>

        <div class="details-check-row">
          <mat-checkbox
            [checked]="publishToGateway()"
            (change)="setPublishToGateway($event.checked)"
          ></mat-checkbox>
          <span>{{ 'extraSettings.publishToGateway' | t }}</span>
        </div>

        @if (banksLoading()) {
          <div class="details-empty">{{ 'details.task.banksLoading' | t }}</div>
        } @else if (banks().length === 0) {
          <div class="details-empty">{{ 'details.task.banksEmpty' | t }}</div>
        } @else {
          <div class="details-check-row">
            <mat-checkbox
              [checked]="allBanksSelected()"
              [indeterminate]="banksPartial()"
              (change)="toggleAllBanks($event.checked)"
            ></mat-checkbox>
            <span>{{ 'memberSelection.selectAll' | t }}</span>
          </div>

          <div class="details-item__message">
            @if (allBanksSelected()) {
              {{ 'details.task.banksAllSelected' | t }}
            } @else if (banksPartial()) {
              {{ 'details.task.banksSubset' | t }}
            } @else {
              {{ 'details.task.banksNone' | t }}
            }
          </div>

          <div class="bank-list">
            @for (bank of banks(); track bank.nrBank) {
              <div class="bank-item">
                <mat-checkbox
                  [checked]="isBankSelected(bank.nrBank)"
                  (change)="toggleBank(bank.nrBank, $event.checked)"
                ></mat-checkbox>
                <span class="bank-item__name">{{ bank.bankName }}</span>
                <span class="bank-item__code">{{ bank.nrBank }}</span>
              </div>
            }
          </div>
        }

        <button
          mat-flat-button
          type="button"
          class="details-primary-button"
          [disabled]="!canRun()"
          (click)="handleRunClick()"
        >
          <span class="app-icon app-icon--bolt" aria-hidden="true"></span>
          {{ 'extraStage.runButton' | t }}
        </button>
      </div>

      <app-active-extra-view />
  </mat-tab>

  <mat-tab [label]="'details.tabs.history' | t">
      <app-run-history-list [taskCodeFilter]="'extra'" />
  </mat-tab>
</mat-tab-group>
