<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn">
  <targets>
    <target xsi:type="File"
            name="api_file"
            fileName="${basedir}/logs/api-${shortdate}.csv"
            archiveEvery="Day"
            maxArchiveFiles="14"
            concurrentWrites="true"
            keepFileOpen="false">
      <layout xsi:type="CsvLayout" delimiter="Comma" withHeader="true" quoting="All">
        <column name="timestamp" layout="${longdate}" />
        <column name="level" layout="${uppercase:${level}}" />
        <column name="traceId" layout="${aspnet-traceidentifier}" />
        <column name="logger" layout="${logger}" />
        <column name="message" layout="${message:raw=true}" />
        <column name="exception" layout="${exception:format=tostring}" />
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="Microsoft.AspNetCore.*" minlevel="Info" writeTo="api_file" />
    <logger name="*" minlevel="Debug" writeTo="api_file" />
  </rules>
</nlog>
