<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn">
  <targets>
    <target xsi:type="Console"
            name="api_console"
            layout="${longdate}|${uppercase:${level}}|${aspnet-traceidentifier}|${logger}|${message}${onexception:inner=|${exception:format=tostring}}" />
    <target xsi:type="File"
            name="api_file"
            fileName="${basedir}/logs/api-v2-${shortdate}.csv"
            archiveEvery="Day"
            maxArchiveFiles="14"
            concurrentWrites="true"
            keepFileOpen="false">
      <layout xsi:type="CsvLayout" delimiter="Comma" withHeader="true" quoting="All">
        <column name="timestamp" layout="${longdate}" />
        <column name="level" layout="${uppercase:${level}}" />
        <column name="traceId" layout="${aspnet-traceidentifier}" />
        <column name="correlationId" layout="${event-properties:item=CorrelationId}" />
        <column name="taskCode" layout="${event-properties:item=TaskCode}" />
        <column name="batchId" layout="${event-properties:item=BatchId}" />
        <column name="logger" layout="${logger}" />
        <column name="message" layout="${message}" />
        <column name="exception" layout="${exception:format=tostring}" />
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="api_console,api_file" final="true" />
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="*" minlevel="Info" writeTo="api_console,api_file" />
  </rules>
</nlog>
